<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8" /> <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta name="viewport"              content="width=device-width, initial-scale=1.0" />
<meta name="language"              content="English" /> <meta property="og:locale" content="en_US" />
<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.tab-suffix }}</title>
</head>
<body>
Default layout
{{ content }}
</body>
</html>
