<!DOCTYPE html>
<html lang="en" dir="ltr" {%- if page.htmlClasses %} class="{{ page.htmlClasses }}" {%- endif -%} >
<head>
<meta charset="utf-8" /> <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta name="viewport"              content="width=device-width, initial-scale=1.0" />
<meta name="language"              content="English" /> <meta property="og:locale" content="en_US" />
{%- capture title -%}{%- if page.title -%}{{ page.title }} - {%- endif -%}{{ site.title }}{%- endcapture -%}
<title>{{ title }}</title>

<link rel="shortcut icon"                type="image/x-icon"    href="/favicon.ico" />
<link rel="apple-touch-icon"             type="image/png"       href="//Shared.BHStudios.org/_img/brand/paw_2.2.1_(512).png" />
<link rel="apple-touch-icon-precomposed" type="image/png"       href="//Shared.BHStudios.org/_img/brand/paw_2.2.1_(512).png" />

{%- assign description = page.description | default: site.description -%}
{%- assign previewImage = page.previewImage | default: site.previewImage -%}

<meta name="description"                           content="{{ description }}" property="og:description"/>
<meta property="og:title"                          content="{{ title }}" />
<meta property="twitter:title"                     content="{{ title }}" />
<meta name="twitter:description"                   content="{{ description }}" />
<meta property="og:site_name"                      content="{{ site.name }}" />
<meta property="twitter:site"                      content="{{ site.name }}" />
<meta name="twitter:creator"                       content="{{ site.brand.social.twitter_username }}" /><!-- Tell twitter that this was made by Blue Husky Studios -->
<meta property="og:type"                           content="{% if page.type %}{{ page.type }}{% else %}article{% endif %}" />
<meta name="twitter:card"                          content="summary_large_image" /><!-- Tell twitter that this link can be presented as a large image with a summary -->
<meta name="msapplication-TileColor"               content="#2196F3" /><!-- When pinned as a tile for Windows 8, this is the color -->
<meta name="theme-color"                           content="#2196F3"/><!-- Color in Chrome address bar -->
<meta name="apple-mobile-web-app-status-bar-style" content="#2196F3" /><!-- Color in Safari status bar -->
<meta name="msapplication-TileImage"               content="https://Shared.BHStudios.org/_img/brand/paw_2.2.1_(128).png" /><!-- When pinned as a tile for Windows 8+, this is the image -->
<meta name="twitter:card"                          content="summary_large_image" />
<meta property="og:image"                          content="{{ previewImage }}" /><!-- Image for sharing on social networks -->
<meta property="twitter:image"                     content="{{ previewImage }}" />
<meta name="twitter:image:src"                     content="{{ previewImage }}" />


<link rel="stylesheet" type="text/css" href="https://stylesheets.bhstudios.org/assets/v2/structure/flex.css" />
<link rel="stylesheet" type="text/css" href="https://stylesheets.bhstudios.org/assets/v2/neon/neon-tables.css" />
<link rel="stylesheet" type="text/css" id="framework-stylesheet" href="https://stylesheets.bhstudios.org/assets/v2/neon/neon-renderer.css" />
<link rel="stylesheet" type="text/css" id="theme-stylesheet"     href="https://stylesheets.bhstudios.org/assets/v2/neon/neon-renderer.css" />
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Questrial|Roboto:300,400,700,900&display=swap" />
<link rel="stylesheet" type="text/css" href="/styles/general.css" />
{% for stylesheet in page.pageSpecificStylesheetUrls %}<link rel="stylesheet" id="page-specific-stylesheet-{{ forloop.index }}" href="{{ stylesheet }}" />
{% endfor %}
<link rel="alternate" type="application/rss+xml" title="{{ title }}" href="/feed.xml" />

<script src="https://shared.bhstudios.org/_js/jquery-bh-preferred.js">/* jQuery */</script>
<script src="https://scripts.bhstudios.org/assets/v2/general/js/lib/kotlin.js">/* Kotlin/JS for BHStudios General Script */</script>
<script src="https://scripts.bhstudios.org/assets/v2/general/js/BHStudios%20General%20Scripts.js">/* BHStudios General Script */</script>

<script>
if (undefined === window.localStorage["org.bh.theme"]) {
    window.localStorage["org.bh.theme"] = JSON.stringify({"color":"water","brightness":"dark"})
}
</script>
</head>
<body>
{{ content }}
</body>
</html>
