---
layout: default
---

<script>
$("html").addClass("ready-for-intro-animation")
</script>


<header class="app-bar">
    <a href="#" class="hidden   flat button show-sidebar-button" onclick="return false;"><i class="material-icons">menu</i></a>
    <span class="layout-placeholder"></span>
    <script>
    $(".show-sidebar-button").removeClass("hidden")
    </script>
</header>



{%- assign svgs = site.pages | where: "name", "homepage-background.svg" -%}
{%- for svg in svgs -%}
{{ svg.content }}
{%- endfor -%}
{{ site.pages.homepage-background.content }}
{{ content }}





<script>
$(_ => {
	const readyForIntroElements = $(".ready-for-intro-animation")
    readyForIntroElements.addClass("go-for-intro-animation")
    setTimeout(() => {
        readyForIntroElements
            .removeClass("go-for-intro-animation")
            .addClass("intro-animation-complete")
    }, {{ site.introAnimationDuration }} * 1000)
})
</script>
