---
---

:root {
    --brand-color-1: #2196F3;
    --brand-color-2: #9C27B0;
    --brand-color-3: #E91E63;
    --brand-color-4: #4CAF50;
    --brand-color-5: #FF9800;

    --brand-color-1-dark: #1A237E;
    --brand-color-2-dark: #4A148C;
    --brand-color-3-dark: #880E4F;
    --brand-color-4-dark: #1B5E20;
    --brand-color-5-dark: #4E342E;
}
